@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor @ViewData["Autor"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/vsaguiar/">LinkedIn</a>
</address>